In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [ ]:
data_path = "/content/drive/My Drive/Data sets/dataset_bank.csv"

In [ ]:
data = pd.read_csv(data_path)

In [ ]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
cols_drop = ['RowNumber', 'CustomerId', 'Surname']

In [ ]:
data.drop(cols_drop, axis = 1, inplace = True)

In [ ]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [ ]:
cat_cols = ['Geography', 'Gender']

In [ ]:
for col in cat_cols:
  data[col] = pd.Categorical(data[col])

In [ ]:
data = pd.get_dummies(data)
data.head()

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0
4          850   43       2  ...                1              1            0

[5 rows x 14 columns]

In [ ]:
cols_scale = ['CreditScore', 'Age', 'Balance', 'EstimatedSalary']

In [ ]:
scaler = StandardScaler()

In [ ]:
for col in cols_scale:
  data[col] = scaler.fit_transform(data[col].values.reshape(-1, 1))

In [ ]:
data.head()

   CreditScore       Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0    -0.326221  0.293517       2  ...                0              1            0
1    -0.440036  0.198164       1  ...                1              1            0
2    -1.536794  0.293517       8  ...                0              1            0
3     0.501521  0.007457       1  ...                0              1            0
4     2.063884  0.388871       2  ...                1              1            0

[5 rows x 14 columns]

In [ ]:
X = data.drop('Exited', axis = 1)
y = data['Exited']

In [ ]:
X.describe()

        CreditScore           Age  ...  Gender_Female   Gender_Male
count  1.000000e+04  1.000000e+04  ...   10000.000000  10000.000000
mean  -4.870326e-16  2.484679e-16  ...       0.454300      0.545700
std    1.000050e+00  1.000050e+00  ...       0.497932      0.497932
min   -3.109504e+00 -1.994969e+00  ...       0.000000      0.000000
25%   -6.883586e-01 -6.600185e-01  ...       0.000000      0.000000
50%    1.522218e-02 -1.832505e-01  ...       0.000000      1.000000
75%    6.981094e-01  4.842246e-01  ...       1.000000      1.000000
max    2.063884e+00  5.061197e+00  ...       1.000000      1.000000

[8 rows x 13 columns]

In [ ]:
X.shape

(10000, 13)

In [ ]:

model = Sequential()
# input layer
model.add(Dense(input_dim = 13, units = 8, activation = 'relu')) 
# hidden layer
model.add(Dense(units = 16, activation = 'relu'))
model.add(Dense(units = 4, activation = 'relu'))
# output layer
model.add(Dense(units = 1, activation = 'sigmoid'))

model.compile(loss = 'binary_crossentropy', optimizer = 'sgd', metrics = ['accuracy'])

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 8)                 112
_________________________________________________________________
dense_2 (Dense)              (None, 16)                144
_________________________________________________________________
dense_3 (Dense)              (None, 4)                 68
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 5
=================================================================
Total params: 329
Trainable params: 329
Non-trainable params: 0
_________________________________________________________________

In [ ]:
es = EarlyStopping(patience = 10)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [ ]:
model.fit(X_train, y_train, epochs=100, validation_split=0.2, callbacks=[es,])

Train on 7200 samples, validate on 1800 samples
Epoch 1/100
7200/7200 [==============================] - 1s 78us/step - loss: 0.5638 - accuracy: 0.7493 - val_loss: 0.5197 - val_accuracy: 0.7961
Epoch 2/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.5071 - accuracy: 0.7972 - val_loss: 0.5037 - val_accuracy: 0.7967
Epoch 3/100
7200/7200 [==============================] - 0s 39us/step - loss: 0.4939 - accuracy: 0.7972 - val_loss: 0.4924 - val_accuracy: 0.7967
Epoch 4/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.4823 - accuracy: 0.7972 - val_loss: 0.4800 - val_accuracy: 0.7967
Epoch 5/100
7200/7200 [==============================] - 0s 39us/step - loss: 0.4702 - accuracy: 0.7972 - val_loss: 0.4693 - val_accuracy: 0.7967
Epoch 6/100
7200/7200 [==============================] - 0s 45us/step - loss: 0.4599 - accuracy: 0.7972 - val_loss: 0.4594 - val_accuracy: 0.7967
Epoch 7/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.4506 - accuracy: 0.7969 - val_loss: 0.4539 - val_accuracy: 0.7928
Epoch 8/100
7200/7200 [==============================] - 0s 46us/step - loss: 0.4442 - accuracy: 0.8026 - val_loss: 0.4468 - val_accuracy: 0.8006
Epoch 9/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.4395 - accuracy: 0.8050 - val_loss: 0.4449 - val_accuracy: 0.8028
Epoch 10/100
7200/7200 [==============================] - 0s 39us/step - loss: 0.4365 - accuracy: 0.8046 - val_loss: 0.4398 - val_accuracy: 0.8033
Epoch 11/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.4341 - accuracy: 0.8049 - val_loss: 0.4381 - val_accuracy: 0.8072
Epoch 12/100
7200/7200 [==============================] - 0s 39us/step - loss: 0.4316 - accuracy: 0.8054 - val_loss: 0.4376 - val_accuracy: 0.8083
Epoch 13/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.4306 - accuracy: 0.8061 - val_loss: 0.4350 - val_accuracy: 0.8011
Epoch 14/100
7200/7200 [==============================] - 0s 39us/step - loss: 0.4293 - accuracy: 0.8065 - val_loss: 0.4346 - val_accuracy: 0.8028
Epoch 15/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.4285 - accuracy: 0.8074 - val_loss: 0.4330 - val_accuracy: 0.8017
Epoch 16/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.4279 - accuracy: 0.8062 - val_loss: 0.4324 - val_accuracy: 0.8089
Epoch 17/100
7200/7200 [==============================] - 0s 39us/step - loss: 0.4269 - accuracy: 0.8081 - val_loss: 0.4359 - val_accuracy: 0.8094
Epoch 18/100
7200/7200 [==============================] - 0s 38us/step - loss: 0.4261 - accuracy: 0.8106 - val_loss: 0.4319 - val_accuracy: 0.8111
Epoch 19/100
7200/7200 [==============================] - 0s 39us/step - loss: 0.4253 - accuracy: 0.8096 - val_loss: 0.4349 - val_accuracy: 0.8106
Epoch 20/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.4250 - accuracy: 0.8121 - val_loss: 0.4303 - val_accuracy: 0.8133
Epoch 21/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.4240 - accuracy: 0.8121 - val_loss: 0.4306 - val_accuracy: 0.8128
Epoch 22/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.4233 - accuracy: 0.8133 - val_loss: 0.4297 - val_accuracy: 0.8117
Epoch 23/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.4225 - accuracy: 0.8140 - val_loss: 0.4289 - val_accuracy: 0.8144
Epoch 24/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.4219 - accuracy: 0.8129 - val_loss: 0.4291 - val_accuracy: 0.8122
Epoch 25/100
7200/7200 [==============================] - 0s 48us/step - loss: 0.4206 - accuracy: 0.8169 - val_loss: 0.4285 - val_accuracy: 0.8156
Epoch 26/100
7200/7200 [==============================] - 0s 49us/step - loss: 0.4199 - accuracy: 0.8169 - val_loss: 0.4278 - val_accuracy: 0.8156
Epoch 27/100
7200/7200 [==============================] - 0s 46us/step - loss: 0.4195 - accuracy: 0.8183 - val_loss: 0.4269 - val_accuracy: 0.8150
Epoch 28/100
7200/7200 [==============================] - 0s 47us/step - loss: 0.4182 - accuracy: 0.8207 - val_loss: 0.4267 - val_accuracy: 0.8128
Epoch 29/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.4174 - accuracy: 0.8189 - val_loss: 0.4270 - val_accuracy: 0.8167
Epoch 30/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.4165 - accuracy: 0.8208 - val_loss: 0.4250 - val_accuracy: 0.8167
Epoch 31/100
7200/7200 [==============================] - 0s 39us/step - loss: 0.4155 - accuracy: 0.8211 - val_loss: 0.4242 - val_accuracy: 0.8161
Epoch 32/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.4148 - accuracy: 0.8214 - val_loss: 0.4247 - val_accuracy: 0.8183
Epoch 33/100
7200/7200 [==============================] - 0s 45us/step - loss: 0.4130 - accuracy: 0.8225 - val_loss: 0.4233 - val_accuracy: 0.8183
Epoch 34/100
7200/7200 [==============================] - 0s 47us/step - loss: 0.4118 - accuracy: 0.8232 - val_loss: 0.4233 - val_accuracy: 0.8189
Epoch 35/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.4105 - accuracy: 0.8244 - val_loss: 0.4222 - val_accuracy: 0.8206
Epoch 36/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.4094 - accuracy: 0.8240 - val_loss: 0.4199 - val_accuracy: 0.8206
Epoch 37/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.4082 - accuracy: 0.8235 - val_loss: 0.4175 - val_accuracy: 0.8244
Epoch 38/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.4064 - accuracy: 0.8244 - val_loss: 0.4172 - val_accuracy: 0.8239
Epoch 39/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.4052 - accuracy: 0.8268 - val_loss: 0.4156 - val_accuracy: 0.8261
Epoch 40/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.4039 - accuracy: 0.8285 - val_loss: 0.4224 - val_accuracy: 0.8217
Epoch 41/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.4019 - accuracy: 0.8290 - val_loss: 0.4145 - val_accuracy: 0.8267
Epoch 42/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.4006 - accuracy: 0.8339 - val_loss: 0.4126 - val_accuracy: 0.8250
Epoch 43/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3991 - accuracy: 0.8335 - val_loss: 0.4123 - val_accuracy: 0.8256
Epoch 44/100
7200/7200 [==============================] - 0s 47us/step - loss: 0.3976 - accuracy: 0.8328 - val_loss: 0.4096 - val_accuracy: 0.8283
Epoch 45/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.3965 - accuracy: 0.8310 - val_loss: 0.4095 - val_accuracy: 0.8300
Epoch 46/100
7200/7200 [==============================] - 0s 45us/step - loss: 0.3950 - accuracy: 0.8331 - val_loss: 0.4078 - val_accuracy: 0.8306
Epoch 47/100
7200/7200 [==============================] - 0s 48us/step - loss: 0.3940 - accuracy: 0.8338 - val_loss: 0.4063 - val_accuracy: 0.8322
Epoch 48/100
7200/7200 [==============================] - 0s 47us/step - loss: 0.3931 - accuracy: 0.8339 - val_loss: 0.4044 - val_accuracy: 0.8317
Epoch 49/100
7200/7200 [==============================] - 0s 47us/step - loss: 0.3919 - accuracy: 0.8360 - val_loss: 0.4062 - val_accuracy: 0.8289
Epoch 50/100
7200/7200 [==============================] - 0s 47us/step - loss: 0.3907 - accuracy: 0.8350 - val_loss: 0.4050 - val_accuracy: 0.8244
Epoch 51/100
7200/7200 [==============================] - 0s 47us/step - loss: 0.3887 - accuracy: 0.8364 - val_loss: 0.4053 - val_accuracy: 0.8278
Epoch 52/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.3883 - accuracy: 0.8356 - val_loss: 0.4019 - val_accuracy: 0.8294
Epoch 53/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3883 - accuracy: 0.8357 - val_loss: 0.4023 - val_accuracy: 0.8294
Epoch 54/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3872 - accuracy: 0.8375 - val_loss: 0.4102 - val_accuracy: 0.8222
Epoch 55/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3859 - accuracy: 0.8381 - val_loss: 0.4040 - val_accuracy: 0.8250
Epoch 56/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3859 - accuracy: 0.8365 - val_loss: 0.4022 - val_accuracy: 0.8267
Epoch 57/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.3839 - accuracy: 0.8383 - val_loss: 0.3987 - val_accuracy: 0.8278
Epoch 58/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.3848 - accuracy: 0.8381 - val_loss: 0.3984 - val_accuracy: 0.8283
Epoch 59/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.3833 - accuracy: 0.8385 - val_loss: 0.3992 - val_accuracy: 0.8256
Epoch 60/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3829 - accuracy: 0.8371 - val_loss: 0.3982 - val_accuracy: 0.8294
Epoch 61/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.3824 - accuracy: 0.8390 - val_loss: 0.3983 - val_accuracy: 0.8289
Epoch 62/100
7200/7200 [==============================] - 0s 47us/step - loss: 0.3811 - accuracy: 0.8361 - val_loss: 0.3985 - val_accuracy: 0.8261
Epoch 63/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3807 - accuracy: 0.8388 - val_loss: 0.3962 - val_accuracy: 0.8267
Epoch 64/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3800 - accuracy: 0.8399 - val_loss: 0.3957 - val_accuracy: 0.8278
Epoch 65/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.3776 - accuracy: 0.8389 - val_loss: 0.3942 - val_accuracy: 0.8306
Epoch 66/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3785 - accuracy: 0.8403 - val_loss: 0.3964 - val_accuracy: 0.8300
Epoch 67/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3780 - accuracy: 0.8399 - val_loss: 0.3944 - val_accuracy: 0.8294
Epoch 68/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.3778 - accuracy: 0.8414 - val_loss: 0.3965 - val_accuracy: 0.8311
Epoch 69/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.3765 - accuracy: 0.8404 - val_loss: 0.3964 - val_accuracy: 0.8300
Epoch 70/100
7200/7200 [==============================] - 0s 46us/step - loss: 0.3764 - accuracy: 0.8408 - val_loss: 0.3961 - val_accuracy: 0.8261
Epoch 71/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.3753 - accuracy: 0.8394 - val_loss: 0.3941 - val_accuracy: 0.8344
Epoch 72/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3735 - accuracy: 0.8429 - val_loss: 0.3990 - val_accuracy: 0.8283
Epoch 73/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3731 - accuracy: 0.8411 - val_loss: 0.4103 - val_accuracy: 0.8267
Epoch 74/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3736 - accuracy: 0.8419 - val_loss: 0.3914 - val_accuracy: 0.8333
Epoch 75/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.3728 - accuracy: 0.8422 - val_loss: 0.3990 - val_accuracy: 0.8300
Epoch 76/100
7200/7200 [==============================] - 0s 48us/step - loss: 0.3715 - accuracy: 0.8439 - val_loss: 0.3941 - val_accuracy: 0.8339
Epoch 77/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.3709 - accuracy: 0.8446 - val_loss: 0.3968 - val_accuracy: 0.8306
Epoch 78/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3705 - accuracy: 0.8454 - val_loss: 0.3986 - val_accuracy: 0.8317
Epoch 79/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3694 - accuracy: 0.8460 - val_loss: 0.3873 - val_accuracy: 0.8339
Epoch 80/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3695 - accuracy: 0.8424 - val_loss: 0.3902 - val_accuracy: 0.8317
Epoch 81/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.3684 - accuracy: 0.8446 - val_loss: 0.3879 - val_accuracy: 0.8350
Epoch 82/100
7200/7200 [==============================] - 0s 46us/step - loss: 0.3681 - accuracy: 0.8468 - val_loss: 0.3886 - val_accuracy: 0.8350
Epoch 83/100
7200/7200 [==============================] - 0s 46us/step - loss: 0.3675 - accuracy: 0.8476 - val_loss: 0.3864 - val_accuracy: 0.8339
Epoch 84/100
7200/7200 [==============================] - 0s 44us/step - loss: 0.3664 - accuracy: 0.8469 - val_loss: 0.3872 - val_accuracy: 0.8367
Epoch 85/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3664 - accuracy: 0.8475 - val_loss: 0.3893 - val_accuracy: 0.8306
Epoch 86/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.3646 - accuracy: 0.8468 - val_loss: 0.3819 - val_accuracy: 0.8383
Epoch 87/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3643 - accuracy: 0.8476 - val_loss: 0.3890 - val_accuracy: 0.8361
Epoch 88/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3626 - accuracy: 0.8493 - val_loss: 0.3800 - val_accuracy: 0.8367
Epoch 89/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3614 - accuracy: 0.8487 - val_loss: 0.3832 - val_accuracy: 0.8361
Epoch 90/100
7200/7200 [==============================] - 0s 42us/step - loss: 0.3600 - accuracy: 0.8504 - val_loss: 0.3782 - val_accuracy: 0.8378
Epoch 91/100
7200/7200 [==============================] - 0s 48us/step - loss: 0.3589 - accuracy: 0.8482 - val_loss: 0.3788 - val_accuracy: 0.8356
Epoch 92/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.3568 - accuracy: 0.8550 - val_loss: 0.3753 - val_accuracy: 0.8367
Epoch 93/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3565 - accuracy: 0.8526 - val_loss: 0.3714 - val_accuracy: 0.8411
Epoch 94/100
7200/7200 [==============================] - 0s 43us/step - loss: 0.3541 - accuracy: 0.8553 - val_loss: 0.3702 - val_accuracy: 0.8406
Epoch 95/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3526 - accuracy: 0.8556 - val_loss: 0.3688 - val_accuracy: 0.8411
Epoch 96/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3512 - accuracy: 0.8550 - val_loss: 0.3675 - val_accuracy: 0.8411
Epoch 97/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3499 - accuracy: 0.8553 - val_loss: 0.3660 - val_accuracy: 0.8394
Epoch 98/100
7200/7200 [==============================] - 0s 41us/step - loss: 0.3490 - accuracy: 0.8583 - val_loss: 0.3675 - val_accuracy: 0.8400
Epoch 99/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3476 - accuracy: 0.8582 - val_loss: 0.3661 - val_accuracy: 0.8428
Epoch 100/100
7200/7200 [==============================] - 0s 40us/step - loss: 0.3458 - accuracy: 0.8564 - val_loss: 0.3648 - val_accuracy: 0.8422

In [ ]:
y_prec = model.predict(X_test)

In [ ]:
model.save_weights('/content/drive/My Drive/Data sets/model.h5')

In [ ]:
dummy_X = X_test.take([20])
dummy_y = y_test.take([20])

In [ ]:
dummy_X

      CreditScore       Age  ...  Gender_Female  Gender_Male
2401    -0.212407 -0.850726  ...              0            1

[1 rows x 13 columns]

In [ ]:
dummy_y

2401    0
Name: Exited, dtype: int64

In [ ]:
dummy_prec = model.predict(dummy_X)

In [ ]:
dummy_prec

array([[0.00643432]], dtype=float32)